*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

h1{
  text-align: center;
  margin: 20px 0;
}

.cell{
  position:relative;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.cell:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cell::after {
  content: var(--hover-number);
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 12px;
  color: blue;
  opacity: 0;
  pointer-events: none;
}

.cell.pencil-hovering::after {
  opacity: 1;
}

.pencilSelected{
  background-color: blue;
  color:white
}

.cell::before {
  content: var(--hover-number);
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 16px;
  color: blue;
  opacity: 0;
  pointer-events: none;
}

.cell.normal-hovering::before {
  opacity: 1;
}


.hoverShadow{
  color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: start
}

.row{
  display: flex;
  justify-content: center;

  gap:0;
  margin:0;
  padding:0;
}

.thickLeft-border{
  border-left-width: 2px;
}

.thickRight-border{
  border-right-width: 2px;
}

.thickTop-border{
  border-top-width: 2px;
}

.thickBottom-border{
  border-bottom-width: 2px;
} 

#number-selection{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.number-option{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.selectedNum{
  background-color: rgba(0, 0, 255, 0.3);
}

.pencil-clear-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  
}

#clear-button-ct, #pencil-button-ct{
  width: 80px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
 /* margin: 20px auto;*/
  cursor: pointer;
}



.validShadow{
  color: rgba(0, 0, 0, 0.1);
display: flex;
justify-content: center;
align-items: center;
}

.normalInput{
  color:black;
}

.pencilInput{
  color: pink;
}